/* 

CUSTOM STYLESHEET

Add your custom styles here instead of style.css so it is easier to 
update the template. Simply copy an existing style from style.css to 
this file, and modify it to your liking. 

*/


#topnav {
	color:#fff;
}
#topnav span {
	color:#fff;
}
#topnav a {
	color:#cc3366;

}
#topnav small {
	color:#fff;
	font-size:11px;
	text-align:right;
}
#topnav img.avatar {
	margin:2px 0 0 8px;

}


li.current{background-color: #fff;color: #333;}

#pagetitle {
	background-color:#3CB1E7;
	border-top:4px solid #3CB1E7;
	border-bottom:1px solid #3CB1E7;
	float:left;
	width:100%;
	background: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.2, rgb(80,146,220)),
	color-stop(0.8, rgb(107,163,226))
	);
	background: -moz-linear-gradient(
	center bottom,
	rgb(80,146,220) 20%,
	rgb(107,163,226) 80%
	);
}

#title h1{
	color: #fff;
}

/*select*/

