@charset="utf-8";
html{color:#333;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
*html{zoom:expression(function(ele){ele.style.zoom = "1";document.execCommand("BackgroundImageCache",false,true);}(this));}
body {margin:0;font:15px/1.5 "Microsoft YaHei",MingLiu,Georgia,Sans-serif;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,span,p,a,
form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
ul,ol {list-style:none}
img, fieldset{border:none;}
a{text-decoration: none; outline:none;}
img{-ms-interpolation-mode:bicubic}
.margin-top{
	margin-top: 20px;
	width: 800px;
	height: 10px;
	clear: both;
}
.bin{
	width: 990px;
	margin: 0 auto;
}
.se_left{
	width: 180px;
	float: left;
	margin-top: 20px;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	background-color: #E8F0F7;
	margin-bottom: 20px;
	min-height: 400px;
}
h2.industry_select{
	width: 100%;
	height: 45px;
	font-size: 16px;
	line-height: 45px;
	font-weight: normal;
	border-bottom: 1px dashed #ccc;
}
.industry{
	width: 100%;
	margin:0px auto 0px;
}
	.industry ul li{
	height: 32px;
	line-height: 32px;
	margin:0 auto 0px;
	text-align: left;
	border: none;
	padding-left: 5px;
	border-bottom-width: 100px;
	border-bottom: 1px #ccc dashed;
}

.industry li a{
	width: 100%;
	height: 100%;
	display: block;
	line-height: 32px;
    color: #333;
}
.industry li:last-child{border-bottom: none;}

.se_right{
	width: 800px;
	float: left;
	margin-top: 20px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	background-color: #F5F5F5;
	margin-bottom: 20px;
	min-height: 400px;
}
.se_right_title{
	width: 100%;
	height: 45px;
}
.se_right_title ul{
	height: 35px;
	margin-top: 10px;
	margin-bottom:0px !important;
	margin-left: 19px;
	float: left;
}
.se_right_title ul li{
	width: 121px;
	height: 35px;
	float: left;
	margin-left: 10px;
	background: #a8c0c7;
	color: #fff;
	line-height: 35px;
	text-align: center;
	cursor: pointer;
}
.se_right_content{
	border-left:1px solid #ccc;
}
.no_mr{
	margin-left: 0px !important;
}

li.on{
	border: 1px solid #ccc !important;
	border-bottom: none !important;
	background: #F5F5F5 !important;
	color: #333 !important;
}
.chooselist{
	width: 760px;
	margin:0px auto;
	overflow: hidden;
	padding-bottom: 20px;
}


.aa{background: #F5F5F5;}
.mainlist{
	width: 40%;
	min-height: 450px;
	float: left;
	border:1px solid #ccc;
	margin:10px 0 0 20px;
}
.mainlist h2{
	width: 100%;
	height: 40px;
	margin-top: 30px;
	font-weight: normal;
	font-size: 18px;
	text-align: center;
}
.mainlist .inbox,.showlist .inbox{
	width: 50%;
	height: 300px;
	margin: 10px auto 0px;
}
/*
select{
	width:100%;
	height: 300px;
	background: none;
	border: none;
	scrolling:none;
}
select option{
	display: block;
	scrolling:none;
	height: 30px;
	font-size: 14px;
	line-height: 35px;
	padding-top: 10px;
	border: 1px solid #ccc;
	cursor: pointer;
	margin-top: 5px;
	text-align: center;
}
select option:hover{
	background-color: #3399FF;
	color: #fff;
	border: 1px solid #3399FF;
}
*/
.inbox ul{
	width: 100%;
	height: 300px;
	overflow: auto;
}
.inbox ul li{
	width: 98%;
	height: 38px;
	margin-bottom: 7px;
	line-height: 38px;
	text-align: center;
	font-size: 14px;
	border:1px solid #ccc;
	cursor: pointer;
}
.middle{
	width: 11%;
	height: 200px;
	margin: 0 auto;
	float: left;
	margin-left: 15px;
	padding-top: 170px;
}
.middle a{
	border: 1px solid #3399FF;
	border-radius: 3px;
	display: block;
	width: 50px;
	height: 30px;
	font-size: 12px;
	line-height: 30px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 40px;
}
.showlist{
	width: 40%;
	min-height: 450px;
	float: right;
	border:1px solid #ccc;
	margin:10px 20px 0 0px;
}
.showlist h2{
	width: 100%;
	height: 40px;
	margin-top: 30px;
	font-weight: normal;
	font-size: 18px;
	text-align: center;
}
.showlist .inbox{
	width: 50%;
	margin: 10px auto 0px;
}
.sub_con{
	width: 100%;
	height: 40px;
	clear: both;
	padding-top: 10px;
}
.sub_con a{
	width: 80px;
	height: 30px;
	margin: 0px auto 0;
	display: block;
	border: 1px solid #3399FF;
	border-radius: 3px;
	color: #3399FF;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
}



